.idea/
**/__pycache__
.DS_Store/
**/lib64
pyproject.toml
poetry.lock
*.gguf
nohup.out
.pytest_cache/
.editorconfig
vectorstore/
Modelfile
*.ttf
*.csv
jhgan/
klue-sroberta-strans/
*.pdf
*.xlsx
nohup.out
wheels/
**/logs/
